<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Cartinhas do Nosredna</title>
    </head>

    <body class="background">
        
        <style>
            .background{
            background-attachment : fixed;
            background-color: #87CEFA;
            }
        </style>
        <!--abaixo link da fonte pokémon personalizada-->
        <a href="https://fontmeme.com/pt/fonte-de-pokemon/"><img src="https://fontmeme.com/permalink/210127/cc5370f2a77fb72d29c6311808fe9ff8.png" alt="fonte-de-pokemon"></a>
        
        <b>{{ msgnegrito }}</b><br />
            
        <img src="{% static '/img/back.png' %}" alt="TESTE DE IMAGEM">
    </body>

</html>