<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<title>Cartinhas do Nosredna</title>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="shortcut icon" href="{% static '/img/favicon.ico' %}">


</head>
    <body>
        
        <!--<div class="fundo"><img src="{% static '/img/fundo.png' %}" alt="background"></div>
        -->
        <div class="topnav"></div>
        <!--abaixo link da fonte pokémon personalizada-->
        <a class="title">
            <img src="https://fontmeme.com/permalink/210129/026cedf6eb1771e7df894b31367a0f8c.png" 
            alt="fonte-de-pokemon">
        </a>
        
        <img src="{% static 'img/foto1.png' %}" alt="carta 1">
        <img src="{% static '/img/foto2.png' %}" alt="carta 2">
        <img src="{% static '/img/foto3.png' %}" alt="carta 3">
        <img src="{% static '/img/foto4.png' %}" alt="carta 4">
        <div class="footer"></div>
           
    </body>

</html>