<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
<meta charset="UTF-8" />
<title>Cartinhas do Nosredna</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="shortcut icon" href="{% static '/img/favicon.ico' %}">
</head>

    <body>
        <!--Barra de título-->
        <div class="topnav">
        <!--abaixo link da fonte pokémon personalizada-->
        <a class="title">
            <img src="https://fontmeme.com/permalink/210129/026cedf6eb1771e7df894b31367a0f8c.png" 
            alt="fonte-de-pokemon">
        </a>
        </div>
            <!--espaço entre o título e as primeiras barras-->
            <br/><br/><br/><br/><br/><br/><br/>

                <!--a div "holder" segura todos os cards-->
            <div class="holder">
                <div class="cardbox">
                    <img src="{% static 'img/cardback.svg' %}" alt="carta 1">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
                <div class="cardbox">
                    <img src="{% static '/img/cardback.svg' %}" alt="carta 2">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
                <div class="cardbox">
                    <img src="{% static '/img/cardback.svg' %}" alt="carta 3">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
                <div class="cardbox">
                    <img src="{% static '/img/cardback.svg' %}" alt="carta 4">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
            </div>
            <br/>

            <!--começa as 4 cartas de baixo, sempre organizadas em blocos de 4 cartas-->
            <div class="holder">
                <div class="cardbox">
                    <img src="{% static '/img/cardback.svg' %}" alt="carta 5">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
                <div class="cardbox">
                    <img src="{% static '/img/cardback.svg' %}" alt="carta 6">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
                <div class="cardbox">
                    <img src="{% static '/img/cardback.svg' %}" alt="carta 7">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
                <div class="cardbox">
                    <img src="{% static '/img/cardback.svg' %}" alt="carta 8">
                    <div class="w3-container w3-center" style="background: #ffffff">
                        <p>R$</p> 
                    </div>
                </div>
            </div>

            <!--espaço entre as cartas e o footer, para o mesmo não cobrir as cartas-->
            <br/>
            <div class="button-div">
                <button><a target="blank" href=''>Anterior</a> </button>
                <button><a target="blank" href=''>Próximo</a> </button>
            </div>
            <br/><br/><br/>

        <footer>
            <p>CONTATO:(99)99999-9999</p> 
        </footer>
    </body>
</html>